html, body{
  margin: 0;
  padding: 0;
}
/*navegador*/
.navbar-brand{
  font-family: 'Balsamiq Sans', cursive;
  
}
.nav-link{
  font-family: 'Balsamiq Sans', cursive;
 
}
nav {
  font-size: 21px;
}
/*fontsTitulos*/
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  padding: 20px;
  color: rgba(189, 124, 67, 0.959);
}
h2 {
  font-family: 'Balsamiq Sans', cursive;
  padding: 30px;
  font-size:40px;
  color: rgba(189, 124, 67, 0.959);
}
.titleContacto{
  font-family: 'Balsamiq Sans', cursive;
  padding: 5px;
  font-size:35px;
}
h3 {
  text-align: center;
  padding: 15px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 25px;
  color: rgb(224, 204, 114);
}
body {
  width: 100%;
  height: 100%;
  letter-spacing: 0,03em;
  line-height: 1.6;
}
/*cardsSeccion3*/
.title {
  text-align: center;
  font-size: 30pxpx;
  padding: 20px;  
}
.cardsbody {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.cardsbody .card {
  width: 330px;
  height: 390px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}
.cardsbody .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.cardsbody .card h4{
  font-weight: 500;
  margin-top: 15px;
  color: rgb(110, 156, 199);
}
.cardsbody .card p{
  padding: 0 1rem;
}
h2{
  text-align: center;
}
/*seccion2*/
.empresa{
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: center;
}
strong{
  font-family: 'Pacifico', cursive;
  color: rgba(189, 124, 67, 0.959);
  font-size: 20px;
}
.nosotrosImg{
  max-width: 600px;
  margin: 15px;

}
.nosotrosImg img{
  max-width: 100%;
  width: 450px;
  margin: 15px;
  border-radius: 15px;
  }
.nosotrosText{
  max-width: 500px;
  margin: 15px;
  font-family: 'Balsamiq Sans', cursive;
}
.nosotrosText p{
  margin: 15px;
}
/*contacto*/
.main {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
 }

  .main .mapa {
    max-width: 450px;
    margin: 40px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px; 
    justify-content: center;
    background: rgba(151, 148, 148, 0.4);
    box-sizing: border-box;
  }
  .main .mapa iframe {
    max-width: 100%;
  }
  form {
    max-width: 450px;
    margin: 40px;
    background: rgba(151, 148, 148, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
  }
  div form input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
  }
  textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
  }
  #boton {
    background: #31384A; 
    color: #fff;  
    padding: 20px; 
  }
  #boton:hover {
    cursor: pointer;
  }
   .slider {
      background: pr;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 960px;
    }
    /*caruselInfinito*/
    .slider{
      margin: auto;
      width: 100%;
    }
    .slider::before, .slider::after {
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    .slider::after {
      right: 0;
      top: 0;
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg);
    }
    .slider::before {
      left: 0;
      top: 0;
    }
    .slider .slide-track {
      -webkit-animation: scroll 40s linear infinite;
              animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    .slider .slide {
      height: 100px;
      width: 250px;
    }
    @keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
    
/*footer*/
footer {
  background-color: #f0f3f7;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
  margin-top: 50px; }
  footer .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 40px; }
    footer .container .column1 {
      max-width: 400px; }
      footer .container .column1 h4 {
        font-size: 22px; }
      footer .container .column1 p {
        font-size: 14px;
        margin-top: 20px; }
    footer .container .column2 {
      max-width: 400px; }
      footer .container .column2 h4 {
        font-size: 22px; }
      footer .container .column2 .row {
        margin-top: 20px;
        display: flex; }
        footer .container .column2 .row a img {
          width: 36px;
          height: 36px; }
        footer .container .column2 .row label {
          margin-top: -30px;
          margin-left: 40px; }
    footer .container .column3 {
      max-width: 400px; }
      footer .container .column3 h4 {
        font-size: 22px; }
      footer .container .column3 .row2 {
        margin-top: 20px;
        display: flex; }
        footer .container .column3 .row2 img {
          width: 36px;
          height: 36px; }
        footer .container .column3 .row2 label {
          margin-top: 5px;
          margin-left: 10px; }


@media screen and (max-width: 793px) {
  .container {
    flex-wrap: wrap; }
  .column2, .column3 {
    margin-top: 40px; }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto 0;
    align-items: center; }
    .main .formulario, .main .mapa {
      margin-top: 30px; } 
    }

@media screen and (max-width:930px) {
  .empresa{
    flex-wrap: wrap;
  }
}    
